
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

table td {
    background: #F1F1F1;
    padding: 5px;
}
table th {
    background: #E9E9E9;
    padding: 5px;
    text-align: left;
}
table {
    border: 1px solid #D3D3D3;
}
table#register th {
    width: 70px;
}

#userinteraction {
    width: 50%;
    float: right;
}
#machine {
    width: 50%;
    float: left;
}
.pointer
{
  width:10px;
  height:10px;
  background:red;
  border-radius: 5px;
}
.pointer0
{
  width:10px;
  height:10px;
  background:red;
  border-radius: 5px;
}
.pointer1
{
  width:10px;
  height:10px;
  background:green;
  border-radius: 5px;
}
.pointer2
{
  width:10px;
  height:10px;
  background:blue;
  border-radius: 5px;
}
